//- section
//- 	.container.py-5
//- 		h2.pb-2.border-bottom Наши преимущества
//- 		.row.g-5.py-5
//- 			.feature.col-md-4
//- 				h2 Лучший выбор
//- 				p Только топовые бренды. Мы подробно следим за тематическими форумами и сообществами, а также партнеримся с производителями, чтобы размещать эксклюзивы в магазине
//- 				a.icon-link(href="#") Посмотреть все товары