nav.navbar.navbar-expand-lg.navbar-light.bg-light
	.container-fluid
		a.navbar-brand(href="#") Navbar

		button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
		span

		.collapse.navbar-collapse#navbarNav
			ul.navbar-nav
				li.nav-item
						a.nav-link.active(aria-current="page" href="/about") About
				li.nav-item
						a.nav-link(href="#") Features
				li.nav-item
						a.nav-link(href="#") Pricing
				li.nav-item
						a.nav-link.disabled(href="#" tabindex="-1" aria-disabled="true") Disabled